<div class="item-list" ng-repeat="image in images track by image.id">
              <div class="cornerRibbons topAds">
 					 <a href="#"> Top Ads</a>
				</div>
                
                <div class="col-sm-2 no-padding photobox">
                  <div class="add-image" ng-click="recuperer({id:image.id})"> <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> 
                  <a ui-sref="image.detail({id:image.id})">{{image.id}}
                  <img class="thumbnail no-margin" src="{{'data:' + image.imgThumbnailContentType + ';base64,' + image.imgThumbnail}}" alt="img"/> {{image.imgThumbnailContentType}} {{byteSize(image.imgThumbnail)}}
                  </a> </div>
                </div>
                <!--/.photobox-->
                <div class="col-sm-7 add-desc-box">
                  <div class="add-details">
                    <h5 class="add-title"> <a href="ads-details.html"> 
Brand New Samsung Phones  </a> </h5>
                    <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics </span>- <span class="item-location"><i class="fa fa-map-marker"></i> London </span> </span> </div>
                </div>
                <!--/.add-desc-box-->
                <div class="col-sm-3 text-right  price-box">
                  <h2 class="item-price"> $ 320 </h2>
                  <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i> <span>Top Ads</span> </a> <a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span> </a> </div>
                <!--/.add-desc-box--> 
             
              </div>
              <!--/.item-list-->
              
            