
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myVilleLabel" translate="articleSellingApp.ville.home.createOrEditLabel">Create or edit a Ville</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="ville.id" readonly />
        </div>
        <div class="form-group">
            <label translate="articleSellingApp.ville.nameVille" for="field_nameVille">NameVille</label>
            <input type="text" class="form-control" name="nameVille" id="field_nameVille"
                    ng-model="ville.nameVille"
                     />
        </div>

        <div class="form-group">
            <label translate="articleSellingApp.ville.pays" for="field_pays">pays</label>
            <select class="form-control" id="field_pays" name="pays" ng-model="ville.paysId" ng-options="pays.id as pays.namePays for pays in payss">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
